.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: var(--shadow-big);
  cursor: pointer;
  transition: color var(--transition);
  transition: background var(--transition);
}
.button:hover {
  background-color: var(--color-secondary-1);
  color: var(--color-text-white);
}
.button:active {
  transform: scale(0.9);
}