.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--layer-7);
}

.pageContent{
  flex-grow: 1;
  position: relative;
  z-index: var(--layer-3);
}

.contentGrid{
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.footer{

}