.wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px; */
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px
}

.itemOdd {
 background-color: var(--color-secondary-2);
}