.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.title{
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 3.4rem;
  line-height: 52px;
  font-weight: 700;
}

.buttons{
  display: flex;
  gap: 8px;

}
