.header{
  height: var(--header-height);
  box-shadow: var(--shadow);
  background-color: var(--color-background-white);

}

.headerWrapper {
  display: flex;
  align-items: center;

  padding: 12px;
  height: var(--header-height);
}

.headerLeft{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 16px;
}
.headerLogo{
  cursor: pointer;
}

.headerContent {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*--navigation--*/
.navbar {
  display: flex;
}
.navbarItem{
  display: flex;
  height: var(--header-height) - 24px;
}


/* ui */
.headerButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  padding: 10px 10px;
  background-color: transparent;
  color: var(--color-text-black);
  border-radius: var(--border-radius);

  cursor: pointer;
}

.headerButton:hover {
  background-color: var(--color-background-white-hover);
}


