.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 20px;
  background-color: var(--color-secondary-2);
  border-radius: var(--border-radius);

  position: relative;
}
.wrapper_filled{
  background-color: var(--color-secondary-2);
}
.wrapper_basic{
  background-color: transparent;
}
.wrapper_basic:after {
  content: "";
  display: block;

  width: 100%;
  height: 2px;
  background-color: var(--color-secondary-2);

  position: absolute;
  bottom: 0;
  right: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 6px;
  background-color: transparent;

  cursor: pointer;  
}

.input {
  background: transparent;
  border: none;
}

.wrapper._required:before {
  content: "*";
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
}

.error {
  left: 0;
  bottom: -25px;
  color: var(--color-error)
}

.wrapper._error {
  color: var(--color-error)
}

.wrapper_basic._error:after {
  content: "";
  display: block;

  width: 100%;
  height: 2px;
  background-color: var(--color-error);

  position: absolute;
  bottom: 0;
  right: 0;
}
